<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
            
        <div class="container">
           
             
            <div class="navbar-header">
                <a href="@Url.Action("Home", "Index", "Courses")" class="navbar-brand">
                    <img src="~/Content/Images/download.png" title="title" alt="additional title" height="80"/>
                </a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <nav role="navigation" id="nav">
           
        </nav>

        
        @RenderBody()
        <hr />
      
    </div>
    <footer>

        <div class="botbar group">
            <div align="center">
                <p> @DateTime.Now.Year - Rasmus Nils Jonas Leo</p>                
             
            </div>
            <div align="center">
              <p>  &copy; LEXICON AB</p>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
