@model Lexicon_LMS.Models.Module

@{
    ViewBag.Title = "Ta bort modul";
}

<h2>Modul - <u>Ta bort</u></h2>

<h3>Är du säker på att du vill ta bort modulen?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

  <h3>Följande aktiviteter är knutna till modulen och kommer att tas bort:</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><h4>Aktiviteter</h4></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        @foreach (var activity in Model.Activities)
        {
            <h5>@activity.Name</h5>
        }
      </div>
    </div>
  </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-danger" />
            @Html.ActionLink("Tillbaka till kursens editeringsvy", "Edit", "Courses", new { id = Model.CourseId }, null)
        </div>
    }
</div>
