@model Lexicon_LMS.Models.Module

@{
    ViewBag.Title = "Modul - Detaljer";
}

<h2>Modul - <u>Detaljer</u></h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till kursens detaljvy", "Details", "Courses", new { id = Model.CourseId }, null)
</p>
