@model IEnumerable<Lexicon_LMS.Models.ActivityType>

@{
    ViewBag.Title = "Översikt av aktivitetstyper";
}

<h2>Översikt av aktivitetstyper</h2>

<p>
    @Html.ActionLink("Lägg till en ny aktivitetstyp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
