@using Lexicon_LMS.Models;
@model Course

@{
    ViewBag.Title = "Detaljerad kursinformation för " + Html.DisplayFor(model => model.Name);
}

<h2>Detaljerad kursinformation för @Html.DisplayFor(model => model.Name)</h2>

<div class="col-md-5">

  <dt>
    @Html.DisplayNameFor(model => model.StartDate) - @Html.DisplayNameFor(model => model.EndDate)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)
  </dd>
  <br />

  <dt>@Html.DisplayNameFor(model => model.Description)</dt>
  <dd>@Html.DisplayFor(model => model.Description)</dd>

  @if (DateTime.Now.CompareTo(Model.StartDate) == 1 && Model.EndDate.CompareTo(DateTime.Now) == 1)
  {
      <h3>Pågående modul:</h3>
      <h4>@ViewBag.ShowModuleContent</h4>

      <h3>Pågående aktiviteter:</h3>

      foreach (var item in ViewBag.ShowActivityContent as ICollection<Activity>)
      {
        @item.Name
        <br />
      }
  <br />
  }

</div>

<div class="col-md-7">
    <h4>Kursmoduler</h4>

    @foreach (var module in Model.Modules)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#m-@module.Id" aria-expanded="false" aria-controls="m-@module.Id">
                        @module.Name
                    </a>
                </h4>
            </div>
            <div id="m-@module.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">

                <div class="panel-body">
                    Modulbeskrivning: @Html.DisplayFor(modelItem => module.Description)<br />
                    Pågår mellan @Html.DisplayFor(modelItem => module.StartDate) - @Html.DisplayFor(modelItem => module.EndDate)<br />
                    Aktiviteter
                    @foreach (var activity in module.Activities)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a-@activity.Id" aria-expanded="false" aria-controls="a-@activity.Id">
                                        @activity.Name
                                    </a>
                                </h4>
                            </div>
                            <div id="a-@activity.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                <div class="panel-body">
                                    Aktivitetstyp:@Html.DisplayFor(modelItem => activity.Type.Name)<br />
                                    Pågår mellan @Html.DisplayFor(modelItem => activity.StartDate) - @Html.DisplayFor(modelItem => activity.EndDate)<br />
                                    Aktivitetsbeskrivning: @Html.DisplayFor(modelItem => activity.Description)<br />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
  @if (User.IsInRole("teacher"))
  {
    <p>
        @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Tillbaka till kursöversikten", "Index")
    </p>
  }
</div>
