@model Lexicon_LMS.Models.Course


@{
    ViewBag.Title = "Details";
}

<h2>Kurs - <strong><u>detaljer</u></strong></h2>
<h2>
    Detaljerad kursinformation för @Html.DisplayFor(model => model.Name)
</h2>

<hr />

    <div class="col-md-4">
        <h4>
            Pågående Aktivitet
        </h4>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate) - @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)
        </dd>
        <br />


        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <br />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h4>Kursmoduler</h4>

        @foreach (var item in Model.Modules)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@item.Id" aria-expanded="false" aria-controls="@item.Id">
                            @item.Name
                        </a>
                    </h4>
                </div>
                <div id="@item.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">

                    <div class="panel-body">

                        Modulbeskrivning: @Html.DisplayFor(modelItem => item.Description)<br />
                        Modulstart: @Html.DisplayFor(modelItem => item.StartDate)  Modulavslut: @Html.DisplayFor(modelItem => item.EndDate)<br />

                    </div>

                </div>
            </div>
        }

        <p>
            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Tillbaka till kursöversikten", "Index")
        </p>
    </div>
