@model Lexicon_LMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>
    Detaljerad kursinformation för @Html.DisplayFor(model => model.Name)

</h2>

    <h4></h4>

    <hr />

   
        <h4>
            Pågående Aktivitet
        </h4>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
  

  
        <h4>
            Kursmoduler
        </h4>      
     

        <div class="col-sm-12">

          
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Frontend med  Java
                            </a>
                        </h4>
                    </div>
               
  
                    <div id="collapse1" class="panel-collapse collapse">
                        <h4>Beskrivning av kursmodulen "Frontend med  Java"</h4>

                        Frontend med  Java
                        Kursen fokuserar på att använda HTML5/CSS3/JavaScript att genomföra programmering logik, definiera och använda variabler, kan utföra loopa och förgrening, utveckla användargränssnitt, fånga och validera användarinmatning, lagra data och skapa välstrukturerade program.

                       
                    </div>
                 
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="col-sm-2">
            </div>

        </div>


    <p>
        <br />

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
