@model Lexicon_LMS.Models.Course

@{
    ViewBag.Title = "Skapa ny kurs";
}

<h2>Kurs - <strong><u>översikt</u></strong></h2>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#create">Skapa ny kurs</button>
@Html.ActionLink("Hantera aktivitetstyper", "Index", "ActivityTypes", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })

<br>
<div id="create" class="collapse @ViewBag.ShowContent">

  @using (Html.BeginForm("Create", "Courses", FormMethod.Post))
  {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Skapa" class="btn btn-default" />
          </div>
        </div>
      </div>
  }
</div>

<div>
  @Html.Action("ListCourses")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
