@model IEnumerable<Lexicon_LMS.Models.UserViewModel>
@if (User.IsInRole("teacher"))
{
    ViewBag.Title = "Användare";
}
else
{
    ViewBag.Title = "Klasskamrater";
}

<h2>Lärare</h2>
<table class="table sortable table-hover table-striped">
    <thead>
        <tr>
            @if (User.IsInRole("teacher"))
            {
                <th>
                    @Html.DisplayNameFor(user => user.CourseName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(user => user.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.Email)
            </th>               
            @if (User.IsInRole("teacher"))
            {
                <th data-defaultsort='disabled'>
                </th>
            }           
        </tr>
    </thead>

    @foreach (var user in Model)
    {
        if (user.Role == "Lärare")
        {
        <tr>
            @if (User.IsInRole("teacher"))
            {
                <td>
                    @Html.DisplayFor(modelItem => user.CourseName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => user.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>           
            @if (User.IsInRole("teacher"))
            {
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = user.Id })
                    @if (!ViewBag.CurrentUserId.Equals(user.Id))
                    {
                        @Html.ActionLink("Ta bort", "Delete", new { id = user.Id })
                    }
                </td>
            }
        </tr>
        }
    }

</table>

@if (User.IsInRole("teacher"))
{ 
    <h2>Elever</h2>
}
else
{ 
    <h2>Klasskamrater</h2>
}
<table class="table sortable table-hover table-striped">  
    <thead>
        <tr>
            @if (User.IsInRole("teacher"))
            {
                <th>
                    @Html.DisplayNameFor(user => user.CourseName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(user => user.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.Email)
            </th>          
        </tr>
    </thead>

        @foreach (var user in Model)
        {
            if (user.Role == "Elev")
            {
            <tr>
                @if (User.IsInRole("teacher"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => user.CourseName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>               
                @if (User.IsInRole("teacher"))
                {
                    <td>
                        @Html.ActionLink("Ändra", "Edit", new { id = user.Id })
                        @if (!ViewBag.CurrentUserId.Equals(user.Id))
                        {
                            @Html.ActionLink("Ta bort", "Delete", new { id = user.Id })
                        }
                    </td>
                }
            </tr>
            }
        }

    </table>
