@model IEnumerable<Lexicon_LMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Användare";
}

<h2>Användare</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            E-post
        </th>    
        <th>
            Roll
        </th>
        <th></th>
    </tr>

@foreach (var item in Model){
   
           <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>          
                <td>
                    Roll
                </td>

                @if (User.IsInRole("teacher"))
                {
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                </td>
                }
            </tr>
      
   
}

</table>
